/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
                padding-top: 70px;
                padding-bottom: 20px;
            }

#subscriptions button{
    margin-top: 5px;
    height: 35px;
    width: 70px;
}

.article {
    display: flex;
}

.article[data-read="True"]{
    background-color: #c9c7c7;
    box-shadow:0px 0px 7px #474545;
    border-radius: 4px;
}

.article[data-read="True"] .unread-label {
  display: none;
}

.article[data-read="False"] .read-label {
  display: none;
}


.article-image {
    flex-shrink: 0;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.article-text {
    flex-grow:1;
}

#folder_form{
    display: flex;
}

#folder_form .alert{
    float: right;
}

#folder_form button{
    height: 35px;
    width: 150px;
}

#folder_selection{
    width: 200px;
}

#folder_selection option{
    width: 200px;
}

#rss_form{
    display: flex;
}

#rss_form {
    display: flex;
}

#rss_form .link_field {
    width: 500px;
    height: 50px;
    padding-right: 10px;
}

#rss_form button {
    width: 50px;
    height: 35px;
}





