

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
                padding-top: 70px;
                padding-bottom: 20px;
            }

.article {
    display: flex;
}

.read-article{
    background-color: #a8a5a5;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
-moz-box-shadow:0px 0px 7px #444444;
-webkit-box-shadow:0px 0px 7px #5c5959;
box-shadow:0px 0px 7px #474545;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.article-image {
    flex-shrink: 0;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.article-text {
    flex-grow:1;
}











