<!-- Modal -->
<div class="modal fade" id={{ modal_id }} tabindex="-1" role="dialog" aria-labelledby="showUpdatedNoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            {% block modal-header %}
            {% endblock %}
      </div>
        <div class="modal-body">
            {% block modal-body %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% block modal-footer %}
            {% endblock %}
        </div>
    </div>
  </div>
</div>