{% extends "modals/base_modal.html" %}


        {% block modal-header %}
            <h5 class="modal-title" id="showUpdatedNoModalLabel">Succesfully updated</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endblock %}
        {% block modal-body %}
            {{ new_articles_count }} new articles were added.
        {% endblock %}
        {% block modal-footer %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% endblock %}
