{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
    Last articles: {{ user.username }}
{% endblock %}

{% block content %}

    <h2>Last articles</h2>
    <div>
    <ul style="list-style-type:none">
            {% if articles %}
                <div class="list-group">
                    {% for a in articles %}
                        <li>


                        <div style="clear: left;">
                        {% if a.img_link %}
                            <p style="float: left;"><img src={{ a.img_link }} height="150" width="200" border="5px"></p>
                        {% else %}
                            <p style="float: left;"><img src="{% static "images/default_new_image.jpeg" %}" height="150" width="200" border="5px"></p>
                        {% endif %}
                        <a href={{a.link}}> <h3>{{ a.title }}</h3> </a>
                        {% if a.summary %}
                            <p>{{ a.summary }}</p>
                        {% endif %}
                        </div>


                        </li>
                        <br>
                    {% endfor %}
                </div>

            {% else %}
                <p>There are no articles to see.</p>
            {% endif %}

    </ul>
    </div>



{% endblock %}
