{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
    Last articles: {{ user.username }}
{% endblock %}

{% block content %}

    <h2>Last articles</h2>

            {% if articles %}
                <ul id="articlesList">
                    {% for article, article_is_read in articles %}


                        <li class = "article" data-read={{ article_is_read }} data-article-id={{ article.id }}>

                        <div class = "article-image">
                            {% if article.img_link %}
                                <img src={{ article.img_link }} height="150" width="250" border="5px">
                            {% else %}
                                <img src="{% static "images/default_new_image.jpeg" %}" height="150" width="250" border="5px">
                            {% endif %}
                        </div>
                        <div class = "article-text">
                            <a href={{article.link}}  target=”_blank”> <h3>{{ article.title }}</h3> </a>
                            {% if article.summary %}
                                <p>{{ article.summary }}</p>
                            {% endif %}
                            <div class="readstatus">
                            <button class="toggle-unread" >
                                <span class="read-label">Marcar como no leído</span>
                                <span class="unread-label">Marcar como leído</span>
                            </button>
                            </div>
                        </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>


            {% else %}
                <p>There are no articles to see.</p>
            {% endif %}




{% endblock %}
