{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
    Last articles: {{ user.username }}
{% endblock %}

{% block content %}

    <h2>Last articles</h2>

            {% if articles %}
                <ul id="articlesList">
                    {% for a, a_read, buttonid in articles %}


                        <li class = "article">

                        <div class = "article-image">
                            {% if a.img_link %}
                                <img src={{ a.img_link }} height="150" width="250" border="5px">
                            {% else %}
                                <img src="{% static "images/default_new_image.jpeg" %}" height="150" width="250" border="5px">
                            {% endif %}
                        </div>
                        <div class = "article-text">
                            <a href={{a.link}}  target=”_blank”> <h3>{{ a.title }}</h3> </a>
                            {% if a.summary %}
                                <p>{{ a.summary }}</p>
                            {% endif %}
                            <div class="readstatus">
                            <button class="toggle-unread" data-article-id={{ a.id }} data-read={{ a_read }}>{% if a_read %}marcar como no leido{% else %}marcar como leido{% endif %}</button>
                            </div>
                        </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>


            {% else %}
                <p>There are no articles to see.</p>
            {% endif %}




{% endblock %}
